.title-container {
    position: absolute;
    width: 100%;
    text-align: center;
    /* background-color: white; */
    max-height: 100vh;
    overflow: hidden;
    
}

.circle {
    position: absolute;
    height: 32vw;
    width: 32vw;
    z-index: -1;
    background: linear-gradient(180deg, rgba(255, 240, 162, 0.8) 0%, rgba(218, 122, 234, 0.2) 122.32%, rgba(229, 175, 255, 0.2) 122.33%);
    border-radius: 50%;
    /* display: inline-block; */
    margin-top: -28vw;
    margin-left: -16vw;
  }

  .zindex {
    z-index: -2;
  }

.title {
    font-family: 'Silk Flower Demo';
    line-height: normal;
    font-size: calc(7vw);
    font-weight: 600;
    margin-top: calc(5vh/5vw) ;
    margin-bottom: 0;
    z-index: 10;
    /* background: -webkit-linear-gradient(rgba(255, 255, 255,1),rgba(255, 255, 255,1),rgba(183, 79, 192,0.2)); */
    background: linear-gradient(180deg, #FFFFFF 8.74%, rgba(183, 79, 192, 0) 469.4%);


    

    background-clip: text;
  -webkit-text-fill-color: transparent;


}

.stroke1 {
    position: absolute;
    font-family: 'Silk Flower Demo';
    line-height: normal;
    font-size: calc(7vw);

    z-index: 8;
    margin-left: 15.9vw;
    margin-top: -7.0vw;

    /* background: linear-gradient(180deg, #FFFFFF 0%, rgba(183, 79, 192, 0) 434.75%); */
    /* -webkit-text-stroke: 5px transparent; */
    
    
    
    
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 0.08vw white; 
    opacity: 0.4;
}


.stroke2 {
    position: absolute;
    line-height: 0;
    font-size: calc(4vw);
    line-height: normal;
    margin-top: 0;
    font-family: 'FC Hype';
    color: white;
    /* font-weight: 600; */
    z-index: 8;
    margin-left: 34.1vw;
    margin-top: -7.7vw;
    
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.08vw white; /* width and color */
    opacity: 0.4;
}

.subtitle{
    line-height: 0;
    font-size: calc(4vw);
    line-height: normal;
    margin-top: 0;
    font-family: 'FC Hype';
    background: linear-gradient(180deg, #FFFFFF 8.74%, rgba(183, 79, 192, 0) 469.4%);
    background-clip: text;
  -webkit-text-fill-color: transparent;
    z-index: 9;
}



