.text-container {
    position: absolute;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-height: 100vh;
    transition: opacity 0.3s;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: red; */
    z-index: 3;
    overflow: hidden;

    
}


.text {
    font-family: 'Mitr';
    color: white;
    line-height: normal;
    font-size: 1.4vw;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-wrap: balance;
    text-shadow: 0px 1px 30px #000;
    /* background-color: blue; */
    width: 100%;
}


.text2 {
    font-family: 'Mitr';
    color: black;
    line-height: normal;
    font-size: 1.3vw;
    margin-top: 0;
    margin-bottom: 0;
    text-wrap: balance;
}

.text3{
    font-family: 'Mitr';
    color: white;
    line-height: normal;
    font-size: 0.9vw;
    /* font-weight: 100; */
    margin-top: 0;
    margin-bottom: 0;
    text-wrap: balance;

}

.bold2 {
    font-weight: 800;
    text-decoration: underline;
}

.bold2:hover {
    font-size: 1.2vw;
    cursor: pointer;
}


.change-cursor {
    cursor: default;
}
.custom-aspect-ratio-transition {  
    width: 100%;
    max-height: 100vh;
    transition: opacity 0.3s ;
    opacity: 0;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
}

.custom-aspect-ratio-transition2 {  
    position:absolute;
    width: 100%;
    max-height: 100vh;
    transition: opacity 0.3s ;
    opacity: 1;
    z-index: 1;
    visibility: hidden;
    overflow: hidden;
    object-fit: cover;

}



.question-set{
    width: 35%;
    margin-left: 32.5vw; /* (100-width)/2 = 30vw */
}

.question {
    color: white;
    font-family: 'Mitr';
    color: white;
    line-height: normal;
    font-size: 1.4vw;
    font-weight: 500;
    text-wrap: balance;
    text-shadow: 0px 1px 30px #000;
    margin-bottom: 2vw;
}

.choice{
    background-color: rgba(253, 221, 129, 0.65);
    padding: 1.5vw 1vw 1.5vw 1vw;
    border: none;
    border-radius: 5px;
    font-family: 'Mitr';
    color: black;
    font-size: 1.2vw;
    font-weight: 400;
    margin: 2vh;
    text-wrap: balance;
}

.choice:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}


.archievement-container {
    display: flex;
    justify-content: center;
    background-color: rgba(221, 237, 255, 0.6);
    width: 20vw;
    margin-left: 40vw; /* (100-width)/2 = 30vw */
    margin-bottom: 3vw;
    margin-top: 3vw;
    border-radius: 10px;
}

.archievement-icon {
    width: 5vw;
    height: 5vw;
}

.archievement-name{
    text-align: start;
}

.archievement-text{
    font-family: 'Mitr';
    color: black;
    text-wrap: balance;
    font-size: 1.2vw;
    /* width: 100%; */
    line-height: 1.2vw;
    margin-bottom: 1vw;
}

.text-brown {
    color: #845047;
    font-weight: 800;
}


.archievement-horizontal {
    display: flex;
    justify-content: center;
}

.archievement-container2 {
    display: flex;
    justify-content: center;
    background-color: rgba(221, 237, 255, 0.6);
    width: 20vw;
    /* margin-left: 40vw;  (100-width)/2 = 30vw  */
    margin: 3vw;
    border-radius: 10px;
}

.circle-container{
    position: absolute;
    max-height: 100vh;
    overflow: hidden;

}

.circle {
    width: 8vw;
    height: 8vw;
    background-color: rgba(253, 221, 129, 0.65);
    border-radius: 100px;
}

.circle:hover {
    width: 8vw;
    height: 8vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
}

.circle-position1 {
    margin-top: 3vh;
    margin-left: 50vw; 
}

.circle-position2 {
    margin-top: 19vw;
    margin-left: 53vw;
}

.circle-position3 {
    margin-top: 31.5vw;
    margin-left: 27vw;
}

.align-bottom-with-past {
    /* display: block; */
    position: absolute;
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 100vh;
    /* background-color: red; */
    opacity: 1;
    transition: opacity 0.3s;
}

.past-container {
    position: absolute;
    aspect-ratio: 16/9;
    width: 100%;
    /* background-color: yellow; */
    max-height: 100vh;
    z-index: 10;
    overflow: hidden;

}



.past1 {
    position: absolute;
    width: 32vw ;
    max-height: 100vh;
    margin-top: 2vw;
    margin-left: 5vw;

}

.past2 {
    position: absolute;
    width: 32vw;
    max-height: 100vh;
    margin-top: 2vw;
    margin-left: 63vw;
    opacity: 0;
    transition: opacity 0.3s;
}

.past3 {
    position: absolute;
    width: 32vw;
    max-height: 100vh;
    margin-top: 23vw ; 
    margin-left: 2vw;
    opacity: 0;
    transition: opacity 0.3s;

}


.past4 {
    position: absolute;
    width: 32vw;
    max-height: 100vh;
    margin-top: 23vw ;
    margin-left: 65vw;
    opacity: 0;
    transition: opacity 0.3s;
}

.past5 {
    position: absolute;
    width: 40vw;
    max-height: 100vh;
    margin-top: 12vw;
    margin-left: 30vw;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
}

.last-quote {
    position: absolute;
    aspect-ratio: 16/7.2;
    width: 100%;
    max-height: 100vh;
    /* background-color: red; */
    align-content: center;
}
